{% extends 'Auto/base.html' %}


{% block main %}
    
    <div class="container">
        <!-- Start of First Scroll Snap-->
        <div class="section">
            <div class="menu">
                <span class="bar"></span>
            </div>
            <nav>
                <h2 class="Logo">Auto</h2>
                <ul class="navbar" id="navbar">
                    <li class="navigation"><a href="">Home</a></li>
                    <li class="navigation"><a href="">About</a></li>
                    <li class="navigation"><a href="">Car's</a></li>
                    <li class="navigation"><a href="">Contact Us</a></li>
                    <!--<li class="navigation"><a href="">Bookings</a></li>
                    <li class="navigation"><a href="">Arrivals</a></li>
                    <li class="navigation"><a href="">Imports</a></li> -->
                </ul>
            </nav>
            <!-- Company name and What it does -->
            <section>
                <div class="wrapper-intro">
                   <h1 class="intro">AUTO</h1>
                    <h2 class="intro-name">Order Online for Touchless Delivery</h2>
                </div>
            </section>
            <!-- end of section -->
            <section>
                <div class="action-buttons">
                   <a href=""><span class="rent" style="color: white; font-weight: 700">Rent a Car</span></a> 
                   <a href=""><span class="contact-us" style=" color: #393c41;">Contact Us</span></a>
                </div>
            </section>
        </div>
        <!-- End of First Scroll Snap-->

        <div class="section">
            <h2>Section 2</h2>
        </div>
        <div class="section">
            <h3>Other Content</h3>
        </div>

        
    </div>
    
{% endblock main %}
