body,
html {
  margin: 0;
  padding: 0;
}

.container {
    position: relative;
    width: 100%;
    height: 100vh;
    scroll-behavior: smooth;
    overflow: auto;
    scroll-snap-type: y mandatory;
}

.section {
    width: 100%;
    height: 100vh;
    background-size: cover;
    scroll-snap-align: start;
}

.section:nth-child(1) {
	background-image: linear-gradient(rgba(96, 88, 151, 0), rgba(104, 23, 197, 0.33)), url("../images/banner.jpg");
}

.navbar {
    display: flex;
    justify-content: center;
    list-style-type: none;
    font-size: 14px;
    font-family: "Gotham SSm", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    font-weight: 500;
    line-height: 21px;
}

.navigation {
    padding: 20px;
    font-size: 1.3em;
}
.navigation:hover {
    border-bottom: 1px solid white;
}

.navigation > a {
    text-decoration: none;
    color: white;
}

.Logo {
   float: left;
   color: white;
   margin-left: 3em;
}

.wrapper-intro {
    margin-left: 50%;
    margin-top: 2em;
}

.wrapper-intro > .intro {
    color: #9C528B;
    font-family: "Gotham Medium", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    font-weight: 500;
    font-size: 40px;
    line-height: 48px;
}

.intro-name {
    margin-top: -2em;
    margin-left: -8.5%;
    color: #DFD2D2;
    font-family: "Gotham Book", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    font-weight: 400;
    line-height: 20px;
    font-size: 14px;
}

.action-buttons {
    color:white;
    margin-top: 28%;
    
}

.rent {
    border: 0px solid #707070;
    padding-left: 90px;
    padding-right: 90px;
    padding-bottom: 10px;
    padding-top: 6px;
    border-radius: 1.7em;
    margin-left: 30%;
    background-color: #B9929F;
    opacity: 0.8;
    font-family: "Gotham Book", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

.contact-us{
    border: 0px solid #707070;
    padding-left: 90px;
    padding-right: 90px;
    padding-bottom: 10px;
    padding-top: 6px;
    border-radius: 1.7em;
    margin-left: 5%;
    background-color: #ffffff;
    opacity: .8;
    font-family: "Gotham Book", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

.action-buttons > a {
    text-decoration: none;
}

