@media screen and (max-width:767px) {

    .wrapper-intro {
        display: none;
    }

    .action-buttons {
        position: fixed;
    }

    .menu{
        display: block;
        position: fixed;
        width: 3rem;
        height: 3rem;
        top: 3rem;
        right: 3rem;
        z-index: 999;
        cursor: pointer;
    }

    .bar,
    .bar::before,
    .bar::after{
        position: absolute;
        background-color: #ffff;
        margin:auto;
        width: 100%;
        height: 3px;
        content: "";
        top: 50%;
        left: 0;
    }

    .bar {
        margin-top: -3em;
    }

    .bar::before{
        top: -1.2rem;
    }

    .bar::after{
        top: 1.2rem;
    }

    .bar::before,
    .bar::after{
        transform: rotate(0deg);
    }

    .active .bar{
        background-color: transparent;
    }

    .active .bar::before{
        transform: rotate(45deg);
    }

    .active .bar::after{
        transform: rotate(-45deg);
    }

    .active .bar::before,
    .active .bar::after{
        top: 0;
    }

    .navigation > a {
        text-decoration: none;
        color: black;
    }

    nav{
        width: 14rem;
        height:100%;
        background-color:#fff;
        position: fixed;
        transform: translateX(-50rem);
        z-index: 998;
        line-height: 1;
        font-size: 2.5rem;
        transition: transform 0.5s cubic-bezier(0.56, 0.1, 0.34, 0.91);
    }

    .menu-open nav{
        transform: translateX(0);
    }

    .navbar ul{
        display: block;
        width: 100%;
        text-align: center;
        padding-top: 10rem;
    }

    .nav ul li{
        display: block;
        padding: 4rem 1rem;
    }

    .navbar {
        display: block;
    }


}